.contact-wrapper {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.sa-map-wrapper {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url(../images/san-antonio-white-red.png) center no-repeat;
  background-size: cover;
  width: 50%;
  min-height: 300px;

  @media screen and (max-width: 650px) {
    width: 100%;
    max-width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.walker-contact-form {
  max-width: 50%;
}

.walker-contact-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;

  input, textarea {
    padding: 6px;
    width: 100%;
    font-size: $scale8;
    border: 1px solid red;

    &:focus {
      outline: red auto 5px;
    }
  }

  :not(:last-child) {
    margin-bottom: $scale8;

  }

  textarea {
    flex-grow: 1;
  }
}

.walker-address {
  align-items: center;
  background: url(./../images/hatch.png) $walker-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $scale5;
  position: relative;

  @media screen and (max-width: 650px) {
    padding: 16px;
    text-align: center;
    order: -1;
  }

  img {
    width: 100%;
  }

  a {
    font-size: $scale8;
    color: $walker-red;
    text-decoration: none;

    @media screen and (max-width: 450px) {
      font-size: $scale10;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.walker-address-location {
  font-size: $scale9;
  color: white;
  margin: 18px 0;
}

.contact-wrapper .walker-address {
  flex-grow: 1;
}
