$footerHeight: 75px;

.site-footer {
  background: url(./../images/hatch.png) #141414;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: $scale9;
  min-height: $footerHeight;
  padding-top: 5px;
  width: 100%;
}

.copyright-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;
    padding: 8px 0;
  }

  p {
    width: 300px;
  }
}

.copyright-logo {
  height: 35px;
  background: url(../images/walker-technologies-w.svg) no-repeat center;
  background-size: contain;
  text-indent: -9001px;

  @media screen and (max-width: 600px) {
    height: 75px;
    order: -1;
    margin-bottom: 8px;
  }
}
