$headerHeight: 100px;

.site-header {
  align-items: center;
  background: url(./../images/hatch.png) #141414;
  border-bottom: 4px solid $walker-red;
  display: flex;
  flex-direction: column;
  height: $headerHeight;
  justify-content: center;
  padding-bottom: 5px;
  width: 100%;
}

.walker-logo-globe {
  background: url(./../images/walker-technologies-globe.svg) no-repeat center;
  background-size: contain;
  width: 100px;
  height: 100%;
  display: inline-block;
}

.walker-logo-wordmark {
  background: url(./../images/walker-technologies-text.svg)  no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 100%;
  flex-grow: 1;
  margin-left: 20px;
}

.walker-link {
  text-indent: -9000px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
}

.thatch {
  width: 100%;
  height: 5px;
  background: url(../images/thatch.svg) center repeat-x;
  background-size: contain;
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: calc(#{$headerHeight} - 5px);
  justify-content: space-between;
  padding: 0 75px;
  max-width: 1080px;
  width: 100%;
}

.navigation-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  .main-link {
    width: 100px;
    font-size: $scale8;
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: white;
    padding-right: $scale5;
    text-transform: uppercase;
  }
}

.sublinks {
  border-top: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2px;
  max-width: 150px;
  overflow: hidden;
  position: absolute;
  top: -200%;
  width: 100%;

  div {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    width: 100px + $scale5;
  }

  a {
    font-size: $scale11;
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: $scale13;
  }
}

.site-header:hover {
  transition: 0.5s ease;

  .sublinks{
    top: 0;
    transition: 0.5s ease;
  }
}

.sublinks-wrapper {
  overflow: hidden;
  transition: 0.5s ease;
  height: 30px;
  width: 100%;
  width: 100%;
  max-width: 150px;
  position: absolute;
}
