.site-header-mobile {
  align-items: center;
  background: url(./../images/hatch.png) #141414;
  border-bottom: 4px solid $walker-red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5px;
  width: 100%;
  transition: 0.5s ease;
}

.wordmark-wrapper-mobile {
  width: 100%;
  padding: 8px;
  height: 75px;
  position: relative;

  @media screen and (max-width: 400px) {
    background-position: center;
    display: flex;
  }
}

.walker-logo-wordmark-mobile {
  background: url(./../images/walker-technologies-text.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.menu {
  align-items: center;
  background: url(./../images/hatch.png) #141414;
  border-left: 4px solid $walker-red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.75) !important;
}

.burger-menu {
  background: url(./../icons/burger-menu.svg) center no-repeat;
  background-size: contain;
  border: none;
  display: inline-block;
  fill: white;
  height: 59px;
  right: 8px;
  width: 30px;
  margin-left: 16px;

  @media screen and (min-width: 401px) {
    position: absolute;
  }
}

.bm-menu-wrap {
  max-width: 300px !important;
  width: 85% !important;
}
