.slide-menu-links {
  display: flex;
  flex-direction: column;

  .main-link {
    color: white;
    margin: 32px 0 0 32px;
    font-size: $scale8
  }

  .sub-link {
    color: white;
    margin: 16px 0 0 64px;
    font-size: $scale9;
    text-decoration: none;
  }
}

