.divided-section {
  display: flex;
  flex-direction: row;

  & > * {
    width: 50%;
  }

  .divided-section-content {
    order: 1;
  }

  &.left .divided-section-content {
    order: 0;
  }
}

.divided-section-content {
  background: white;
  box-sizing: border-box;
  border: 1px solid $walker-black;
  color: $walker-black;
  margin-bottom: 24px;

  h2 {
    padding: 18px;
    background: white;
    text-align: center;
  }

  h3 {
    padding-left: $scale10;
    margin-top: $scale9;
  }

  p {
    padding-left: $scale10;
    margin-bottom: $scale9;
  }
}
