.divided-section {
  display: flex;
  flex-direction: row;

  & > * {
    width: 50%;
  }

  .divided-section-content {
    order: 1;
  }

  &.left .divided-section-content {
    order: 0;
  }
}

.services-content {
  padding: 24px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $scale2;
}

.divided-section-content {
  background: white;
  box-sizing: border-box;
  color: $walker-black;
  max-width: 960px;
  line-height: 1.25;
  margin: 32px 0;

  h2 {
    padding: 18px;
    background: white;
    text-align: center;
  }

  h3 {
    padding-left: $scale10;
    margin-top: $scale9;
    margin-top: 18px;
    margin-bottom: 12px;
  }

  p {
    padding-left: $scale10;
    margin-bottom: $scale7;
  }

  p:last-of-type {
    margin-bottom: none;
  }
}
